<h1>Lets Diagnose your case of Ghost!</h1>

<div class = "container">

    <h1>Lets Diagnose your case of Ghost!</h1>



  <div class = "begin_button">
    <p><%= link_to 'Select Haunt Category', what_categories_path %></p>
  </div>


</div>