<h1>Dashboard</h1>

<div class = "container">

  <div class = "left_container">
    <div class = 'gotodiagnostics'>

      <div class = "begin_button">
        <p><%= link_to 'Diagnose the Haunt', diagnostics_path %></p>
      </div>

      <h2>User Info and New Diagnose Haunt and filter to social categories such as netflix</h2>
    </div>
  </div>


  <div class = "top_right_container">
    <h2>Anthing else, news and updates and shit.</h2>
  </div>

  <div class = "bottom_right_container">
    <h2>Previous Haunts</h2>
  </div>



</div>
