<%= form_for(@when_category) do |f| %>
  <% if @when_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@when_category.errors.count, "error") %> prohibited this when_category from being saved:</h2>

      <ul>
      <% @when_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :where_category_id %><br>
    <%= f.number_field :where_category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
