<h1>Listing when_categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Where category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @when_categories.each do |when_category| %>
      <tr>
        <td><%= when_category.title %></td>
        <td><%= when_category.description %></td>
        <td><%= when_category.where_category_id %></td>
        <td><%= link_to 'Show', when_category %></td>
        <td><%= link_to 'Edit', edit_when_category_path(when_category) %></td>
        <td><%= link_to 'Destroy', when_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New When category', new_when_category_path %>
