<p id="notice"><%= notice %></p>

<div class = "title_description_combo">
    <p>
      <strong>Title:</strong>
      <%= @when_category.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @when_category.description %>
    </p>

    <p>
      <strong>Where category:</strong>
      <%= @when_category.where_category_id %>
    </p>
</div>


<div class = "display_selections">
<!--DISPLAY CHILDREN-->

<% @when_category.symptom_categories.each do |symptom_category| %> 

    <div class = 'selections'> 
      <h3><%= symptom_category.title %></h3>  
      <p> 
        <%= link_to 'CHOOSE', symptom_category_path(symptom_category), :class => 'btn btn-default' %> 
      </p>  
    </div> 

<%end%> 

<!-- END DISPLAY CHILDREN-->
  </div>



<%= link_to 'Edit', edit_when_category_path(@when_category) %> |
<%= link_to 'Back', when_categories_path %>
