<h1>Listing where_categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>What category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @where_categories.each do |where_category| %>
      <tr>
        <td><%= where_category.title %></td>
        <td><%= where_category.description %></td>
        <td><%= where_category.what_category_id %></td>
        <td><%= link_to 'Show', where_category %></td>
        <td><%= link_to 'Edit', edit_where_category_path(where_category) %></td>
        <td><%= link_to 'Destroy', where_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Where category', new_where_category_path %>
