<p id="notice"><%= notice %></p>

<div class = "title_description_combo">
    <p>
      <strong>Title:</strong>
      <%= @where_category.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @where_category.description %>
    </p>

    <p>
      <strong>What category:</strong>
      <%= @where_category.what_category_id %>
    </p>
</div>


<div class = "display_selections">
<!--DISPLAY CHILDREN-->

<% @where_category.when_categories.each do |when_category| %> 

    <div class = 'selections'> 
      <h3><%= when_category.title %></h3>  

      <p> 
        <%= link_to 'CHOOSE', when_category_path(when_category), :class => 'btn btn-default' %> 
      </p>  
    </div> 

<%end%> 

<!-- END DISPLAY CHILDREN-->
</div>




<%= link_to 'Edit', edit_where_category_path(@where_category) %> |
<%= link_to 'Back', where_categories_path %>
