<h1>Listing resultvariants</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Symptom category</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resultvariants.each do |resultvariant| %>
      <tr>
        <td><%= resultvariant.title %></td>
        <td><%= resultvariant.description %></td>
        <td><%= resultvariant.symptom_category_id %></td>
        <td><%= resultvariant.image %></td>
        <td><%= link_to 'Show', resultvariant %></td>
        <td><%= link_to 'Edit', edit_resultvariant_path(resultvariant) %></td>
        <td><%= link_to 'Destroy', resultvariant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resultvariant', new_resultvariant_path %>
