<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resultvariant.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resultvariant.description %>
</p>

<p>
  <strong>Symptom category:</strong>
  <%= @resultvariant.symptom_category_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @resultvariant.image %>
</p>

<%= link_to 'Edit', edit_resultvariant_path(@resultvariant) %> |
<%= link_to 'Back', resultvariants_path %>
