<%= form_for(@symptom_category) do |f| %>
  <% if @symptom_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@symptom_category.errors.count, "error") %> prohibited this symptom_category from being saved:</h2>

      <ul>
      <% @symptom_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :when_category_id %><br>
    <%= f.number_field :when_category_id %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
