<h1>Listing symptom_categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>When category</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @symptom_categories.each do |symptom_category| %>
      <tr>
        <td><%= symptom_category.title %></td>
        <td><%= symptom_category.description %></td>
        <td><%= symptom_category.when_category_id %></td>
        <td><%= symptom_category.image %></td>
        <td><%= link_to 'Show', symptom_category %></td>
        <td><%= link_to 'Edit', edit_symptom_category_path(symptom_category) %></td>
        <td><%= link_to 'Destroy', symptom_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Symptom category', new_symptom_category_path %>
