<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @symptom_category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @symptom_category.description %>
</p>

<p>
  <strong>When category:</strong>
  <%= @symptom_category.when_category_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @symptom_category.image %>
</p>

<p>
  <%= link_to 'Go to Result Page', resultpage_url, :class => 'btn btn-default' %> 
</p>


<div class = "display_selections">
<!--DISPLAY CHILDREN-->

<% @symptom_category.resultvariants.each do |resultvariant| %> 

    <div class = 'selections'> 
      <h3><%= resultvariant.title %></h3>  

      <p> 
        <%= link_to 'CHOOSE',resultpage_path, :class => 'btn btn-default' %> 
      </p>  
    </div>


       

<%end%> 

<!-- END DISPLAY CHILDREN-->
  </div>




<%= link_to 'Edit', edit_symptom_category_path(@symptom_category) %> |
<%= link_to 'Back', symptom_categories_path %>
