<%= form_for(@what_category) do |f| %>
  <% if @what_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@what_category.errors.count, "error") %> prohibited this what_category from being saved:</h2>

      <ul>
      <% @what_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
