<h1>Listing what_categories</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @what_categories.each do |what_category| %>
      <tr>
        <td><%= what_category.title %></td>
        <td><%= what_category.description %></td>
        <td><%= link_to 'Choose', what_category %></td>
        <td><%= link_to 'Edit', edit_what_category_path(what_category) %></td>
        <td><%= link_to 'Destroy', what_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New What category', new_what_category_path %>
