<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @what_category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @what_category.description %>
</p>



<div class = "display_selections">
<!--DISPLAY CHILDREN-->

<% @what_category.where_categories.each do |where_category| %> 

    <div class = 'selections'> 
      <h3><%= where_category.title %></h3>  

      <p> 
        <%= link_to 'CHOOSE', where_category_path(where_category), :class => 'btn btn-default' %> 
      </p>  
    </div> 

<%end%> 

<!-- END DISPLAY CHILDREN-->
</div>


<%= link_to 'Edit', edit_what_category_path(@what_category) %> |
<%= link_to 'Back', what_categories_path %>
