/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 /**/

body {
    background-image: url(feature.png);
    background-size: 100%;
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*left: 200px;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

/*.logo {*/
    /*position: absolute;*/
    /*position: absolute;*/
    /*float: left;*/
    /*width: 431px;*/
    /*height: 221px;*/
    /*background-image: url(th_logo.png);*/
    /*margin: 0 auto;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /**/
/*}*/

header {
    width: 100%;
    height: 50px;
    background-color: steelblue;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 10px 25px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 10px 25px 0px rgba(50, 50, 50, 0.75);

    /*background: rgba(52,78,95,1);*/
    /*background: -moz-linear-gradient(top, rgba(52,78,95,1) 0%, rgba(112,159,189,1) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,78,95,1)), color-stop(100%, rgba(112,159,189,1)));*/
    /*background: -webkit-linear-gradient(top, rgba(52,78,95,1) 0%, rgba(112,159,189,1) 100%);*/
    /*background: -o-linear-gradient(top, rgba(52,78,95,1) 0%, rgba(112,159,189,1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(52,78,95,1) 0%, rgba(112,159,189,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(52,78,95,1) 0%, rgba(112,159,189,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#344e5f', endColorstr='#709fbd', GradientType=0 );*/

    /*background: rgba(112,159,189,1);*/
    /*background: -moz-linear-gradient(top, rgba(112,159,189,1) 0%, rgba(52,78,95,1) 100%);*/
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(112,159,189,1)), color-stop(100%, rgba(52,78,95,1)));*/
    /*background: -webkit-linear-gradient(top, rgba(112,159,189,1) 0%, rgba(52,78,95,1) 100%);*/
    /*background: -o-linear-gradient(top, rgba(112,159,189,1) 0%, rgba(52,78,95,1) 100%);*/
    /*background: -ms-linear-gradient(top, rgba(112,159,189,1) 0%, rgba(52,78,95,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(112,159,189,1) 0%, rgba(52,78,95,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#709fbd', endColorstr='#344e5f', GradientType=0 );*/

    /*background: rgba(52,78,95,1);*/
    /*background: -moz-linear-gradient(left, rgba(52,78,95,1) 0%, rgba(112,159,189,1) 100%);*/
    /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(52,78,95,1)), color-stop(100%, rgba(112,159,189,1)));*/
    /*background: -webkit-linear-gradient(left, rgba(52,78,95,1) 0%, rgba(112,159,189,1) 100%);*/
    /*background: -o-linear-gradient(left, rgba(52,78,95,1) 0%, rgba(112,159,189,1) 100%);*/
    /*background: -ms-linear-gradient(left, rgba(52,78,95,1) 0%, rgba(112,159,189,1) 100%);*/
    /*background: linear-gradient(to right, rgba(52,78,95,1) 0%, rgba(112,159,189,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#344e5f', endColorstr='#709fbd', GradientType=1 );*/

    /*background: -moz-linear-gradient(left, rgba(112,159,189,1) 0%, rgba(52,78,95,1) 100%);*/
    /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(112,159,189,1)), color-stop(100%, rgba(52,78,95,1)));*/
    /*background: -webkit-linear-gradient(left, rgba(112,159,189,1) 0%, rgba(52,78,95,1) 100%);*/
    /*background: -o-linear-gradient(left, rgba(112,159,189,1) 0%, rgba(52,78,95,1) 100%);*/
    /*background: -ms-linear-gradient(left, rgba(112,159,189,1) 0%, rgba(52,78,95,1) 100%);*/
    /*background: linear-gradient(to right, rgba(112,159,189,1) 0%, rgba(52,78,95,1) 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#709fbd', endColorstr='#344e5f', GradientType=1 );*/


    background: rgba(71,102,122,1);
    background: -moz-linear-gradient(left, rgba(71,102,122,1) 0%, rgba(52,78,95,1) 100%);
    /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,102,122,1)), color-stop(100%, rgba(52,78,95,1)));*/
    background: -webkit-linear-gradient(left, rgba(71,102,122,1) 0%, rgba(52,78,95,1) 100%);
    background: -o-linear-gradient(left, rgba(71,102,122,1) 0%, rgba(52,78,95,1) 100%);
    background: -ms-linear-gradient(left, rgba(71,102,122,1) 0%, rgba(52,78,95,1) 100%);
    background: linear-gradient(to right, rgba(71,102,122,1) 0%, rgba(52,78,95,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47667a', endColorstr='#344e5f', GradientType=1 );

}

.logo_header {
    /*background-image: url(logo_header.png);*/
    background-image: url(th_logo.png);
    /*background-color: #cc0000;*/
    width: 90px;
    height: 45px;
    background-size: 100%;
    margin-left: 50px;
    margin-top: 2.5px;
    float: left;
}









/*
Inspired by http://dribbble.com/shots/890759-Ui-Kit-Metro/attachments/97174
*/

.container_menu_lol {
    width: 370px;

    height: 50px;
    float: left;
    margin-left: 620px;
    /*background-color: green;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/

}





#main-menu .nav-bar {
    list-style:none;
    margin-top: 15px;
}
#main-menu .nav-bar li {
    display:inline;
    padding:0 10px;
}

#main-menu .nav-bar li a {
    text-decoration: none;
    padding-left: 25px;
    text-transform: uppercase;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}

.nav-bar .nav-button-home a {
    background:url("http://www.cheesetoast.co.uk/cheesepress/wp-content/uploads/2012/08/home.gif") no-repeat 0px -2px transparent;
}

.nav-bar .nav-button-services a {
    background:url("http://www.cheesetoast.co.uk/cheesepress/wp-content/uploads/2012/08/services.gif") no-repeat 0px -2px transparent;
}

.nav-bar .nav-button-products a {
    background:url("http://www.cheesetoast.co.uk/cheesepress/wp-content/uploads/2012/08/products.gif") no-repeat 0px -2px transparent;
}

/* Icons courtesy of Thom : http://pixelb.in/assorted-pixel-perfect-14px-icon-set-286/ */







/*.btn-group .btn-group-justified {*/
    /*background-color: #cc0000;*/
/*}*/

/*.btn .btn-nav {*/
    /*background-color: #cc0000;*/
/*}*/

/**, *:before, *:after {*/
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    /*-webkit-box-sizing: border-box;*/
    /* Firefox (desktop or Android) 28- */
    /*-moz-box-sizing: border-box;*/
    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    /*box-sizing: border-box;*/
/*}*/
/*.btn-nav {*/
    /*background-color: #fff;*/
    /*border: 1px solid #000000;*/
    /*-webkit-box-sizing: border-box; *//* Safari/Chrome, other WebKit */
    /*-moz-box-sizing: border-box;    *//* Firefox, other Gecko */
    /*box-sizing: border-box;         *//* Opera/IE 8+ */
    /*height: 50px;*/

/*}*/
/*.btn-nav:hover {*/
    /*color: #e92d00;*/
    /*cursor: pointer;*/
    /*-webkit-transition: color 1s; *//* For Safari 3.1 to 6.0 */
    /*transition: color 1s;*/
/*}*/
/*.btn-nav.active {*/
    /*color: #e92d00;*/
    /*padding: 2px;*/
    /*border-top: 6px solid #e92d00;*/
    /*border-bottom: 6px solid #e92d00;*/
    /*border-left: 0;*/
    /*border-right: 0;*/
    /*box-sizing:border-box;*/
    /*-moz-box-sizing:border-box;*/
    /*-webkit-box-sizing:border-box;*/
    /*-webkit-transition: border 0.3s ease-out, color 0.3s ease 0.5s;*/
    /*-moz-transition: border 0.3s ease-out, color 0.3s ease 0.5s;*/
    /*-ms-transition: border 0.3s ease-out, color 0.3s ease 0.5s; *//* IE10 is actually unprefixed */
    /*-o-transition: border 0.3s ease-out, color 0.3s ease 0.5s;*/
    /*transition: border 0.3s ease-out, color 0.3s ease 0.5s;*/
    /*-webkit-animation: pulsate 1.2s linear infinite;*/
    /*animation: pulsate 1.2s linear infinite;*/
/*}*/
/*.btn-nav.active:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*border-style: solid;*/
    /*border-width: 6px 6px 0;*/
    /*border-color: #e92d00 transparent;*/
    /*display: block;*/
    /*width: 0;*/
    /*z-index: 1;*/
    /*margin-left: -6px;*/
    /*top: 0;*/
    /*left: 50%;*/
/*}*/
/*.btn-nav .glyphicon {*/
    /*padding-top: 16px;*/
    /*font-size: 40px;*/
/*}*/
/*.btn-nav.active p {*/
    /*margin-bottom: 8px;*/
/*}*/

/*@-webkit-keyframes pulsate {*/
    /*50% { color: #000; }*/
/*}*/
/*@keyframes pulsate {*/
    /*50% { color: #000; }*/
/*}*/
/*@media (max-width: 50px) {*/
    /*.btn-group {*/
        /*display: block !important;*/
        /*float: none !important;*/
        /*width: 100% !important;*/
        /*max-width: 100% !important;*/
    /*}*/
/*}*/
/*@media (max-width: 50px) {*/
    /*.btn-nav .glyphicon {*/
        /*padding-top: 12px;*/
        /*font-size: 26px;*/
    /*}*/
/*}*/
























.registrations {
    width: 150px;
    height: 100%;
    /*background-color: red;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    float: right;
}

#move {
    margin-top: 15px;
    width: 120px;
    /*background-color: blue;*/
    margin-left: auto;
    margin-right: auto;
}





























.selections {
    height: 200px;
    width: 200px;
    background-color: dodgerblue;
    float: left;
    margin-left: 10px;
}

.display_selections {
    background-color: green;
    height: 200px;
    width: 870px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    height: 450px;
    width: 900px;
    background-color: royalblue;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.left_container {
    height: 450px;
    width: 250px;
    /*background-color: gray;*/
    opacity: .5;
    margin-left: -15px;
    /*background-image: url(logo_header.png);*/
}

.top_right_container {
    height: 300px;
    width: 650px;
    background-color: red;
    opacity: .5;
    /*margin-left: -15px;*/
    margin-top: -470px;
    margin-left: 235px;
}

.bottom_right_container {
    height: 150px;
    width: 650px;
    background-color: green;
    opacity: .5;
    /*margin-left: -15px;*/
    margin-top: -20px;
    margin-left: 235px;
}

.title_description_combo {
    height: 80px;
    width: 500px;
    background-color: dodgerblue;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 30px;
    background-color: steelblue;
    bottom: 0px;
    position: absolute;
    /*position: relative;*/
    -webkit-box-shadow: 0px -5px 25px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px -5px 25px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -5px 25px 0px rgba(50, 50, 50, 0.75);

    background: rgba(71,102,122,1);
    background: -moz-linear-gradient(left, rgba(71,102,122,1) 0%, rgba(52,78,95,1) 100%);
    /*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,102,122,1)), color-stop(100%, rgba(52,78,95,1)));*/
    background: -webkit-linear-gradient(left, rgba(71,102,122,1) 0%, rgba(52,78,95,1) 100%);
    background: -o-linear-gradient(left, rgba(71,102,122,1) 0%, rgba(52,78,95,1) 100%);
    background: -ms-linear-gradient(left, rgba(71,102,122,1) 0%, rgba(52,78,95,1) 100%);
    background: linear-gradient(to right, rgba(71,102,122,1) 0%, rgba(52,78,95,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47667a', endColorstr='#344e5f', GradientType=1 );
}













.new_user {
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 4px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 4px 10px 0px rgba(50, 50, 50, 0.75);
}

#user_email {
    height: 100%;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#user_password {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}


.begin_button {

    /*width: 100px;*/
    /*height: 50px;*/
    /*background-color: #cc0000;*/

    -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    color:#333;
    background-color:#FA2;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:none;
    font-family:'Helvetica Neue',Arial,sans-serif;
    font-size:16px;
    font-weight:700;
    height:32px;
    padding:4px 16px;
    text-shadow:#FE6 0 1px 0
}

.begin_button p {
    text-decoration: none;
}















