// Place all the styles related to the diagnostics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.container {
//  height: 400px;
//  width: 800px;
//  background-color: royalblue;
//}