// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url(image_path('temp_background31.jpg'));
//    background-image: url(temp_background31.jpg);
//  background-image: url(image_path("temp_background31.png"));
}

