

<div id = "user_nav">
  <% if user_signed_in? %>
      <!--<p>Welcome, you are signed in as <%= current_user.email %>. Not You?</p>-->
      <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
  <% else %>

      <div id = "move">
      <%= link_to 'Sign Up', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
      </div>
  <% end %>
</div>



<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>


