<!DOCTYPE html>
<html>
<head>
  <title>TotallyHaunted</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

    <header>
      <a href = "diagnostics/index.html.erb"><div class = "logo_header"></div></a>

      <div class="container_menu_lol">


        <nav id="main-menu">
          <ul class="nav-bar">
            <li class="nav-button-home"><a href="#">Sec1</a></li>
            <li class="nav-button-services"><a href="#">Sec2</a></li>
            <li class="nav-button-products"><a href="#">Sec1</a></li>
          </ul>
        </nav>


        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="btn-group btn-group-justified">&ndash;&gt;-->

            <!--<div class="btn-group">-->
              <!--&lt;!&ndash;<button type="button" class="btn btn-nav">&ndash;&gt;-->
              <!--<button type="button" class="btn btn-nav">-->
                <!--<span class="glyphicon glyphicon-folder-close"></span>-->
                <!--<p>Shopping</p>-->
              <!--</button>-->
            <!--</div>-->

            <!--<div class="btn-group">-->
              <!--<button type="button" class="btn btn-nav">-->
                <!--<span class="glyphicon glyphicon-calendar"></span>-->
                <!--<p>Calendar</p>-->
              <!--</button>-->
            <!--</div>-->

            <!--<div class="btn-group">-->
              <!--<button type="button" class="btn btn-nav">-->
                <!--<span class="glyphicon glyphicon-globe"></span>-->
                <!--<p>Network</p>-->
              <!--</button>-->
            <!--</div>-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      </div>


      <div class = "registrations"><%= render 'layouts/user_widget' %></div>
    </header>


    <%= yield %>



    <!--<div class = "logo"></div>-->

    <footer></footer>

</body>
</html>
